body {
  background-color: #f5f5f5f5;
  text-align: center;
}

.listContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.items {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.logs {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}
.newContainer {
  max-height: 400px;
  overflow-y: auto;
}

.item {
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  border-bottom-style: dotted;
}

.chosen {
  color: black;
  background: greenyellow;
}

.resultContent {
  background-color: greenyellow;
  padding: 10px;
  display: grid;
}
.resultContainer {
  justify-self: center;
}

.result-item {
  text-align: left;
}

.result {
  margin-top: 30px;
  padding: 10px;
  max-height: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 40%;
  margin-left: 30%;
}

.tree-node {
  padding: 10px;
  margin: 5px 0;
}

.chosen-1 {
  color: black;
  background: #ebeb87;
}

.chosen-2 {
  color: white;
  background: #6969ec;
}

table,
th,
td {
  padding: 6px;
  border: 1px solid black;
}
